*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.social-link-footer,
.client-item,
.client-link,
.social-list-link,
.social-icon-item,
.tel-icon,
.mail-icon,
.contacts-item,
.site-nav-item {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box,
.send-modal,
.container {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.current-page {
  color: orange;
  padding-bottom: 8px;
}

.current-page.site-nav-item::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -6px;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  display: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .section-no-top-padding {
    padding-top: 0px;
    padding-bottom: 94px;
  }
}
.button {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.secondary-headings {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .secondary-headings {
    margin-bottom: 50px;
  }
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: #212121;
  font-family: "Raleway", sans-serif;
}

.logo > span {
  color: #2196f3;
}

.logo .white-logo {
  color: #ffffff;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:focus,
.menu-button:hover {
  fill: #2196f3;
}

.menu-container {
  display: none;
  z-index: 1;
}

.use-container {
  padding: 12px 8px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.header {
  position: relative;
}

.menu-container.is-open {
  display: block;
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  padding: 60px 135px;
  text-align: center;
  letter-spacing: 0.02em;
}

.navigation {
  margin-bottom: 60px;
  z-index: inherit;
}

.site-nav-item {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.contacts-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
}

.site-nav-li:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav-item:focus::after {
  opacity: 1;
}

.site-nav-li:hover .site-nav-item::after {
  opacity: 1;
}

.site-nav-item:hover,
.site-nav-item:focus,
.contacts-item:hover,
.contacts-item:focus {
  color: #2196f3;
}

.contacts-li:first-child {
  margin-bottom: 16px;
}

.contacts-item {
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.header-icon {
  margin-right: 10px;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-tel {
  width: 10px;
  height: 15px;
}

.mail-icon {
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.contacts-item:hover .mail-icon,
.contacts-item:focus .mail-icon {
  fill: #2196f3;
}

.tel-icon {
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.contacts-item:hover .tel-icon,
.contacts-item:focus .tel-icon {
  fill: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .menu-container,
  .navigation,
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation {
    margin-bottom: 0;
    margin-right: 0;
  }

  header .container {
    padding: 16px 15px;
  }

  .current-page {
    padding-bottom: 28px;
  }

  .navigation {
    margin-right: 84px;
  }

  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .site-nav-item {
    font-size: 14px;
  }

  .site-nav .site-nav-li {
    margin-bottom: 0;
  }

  .site-nav-li:not(:last-child) {
    margin-right: 50px;
  }

  .contacts {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contacts-li:first-child {
    margin-bottom: 8px;
  }

  .contacts-item {
    font-size: 12px;
  }

  .header-icon {
    margin-right: 8px;
  }

  .icon-mail {
    width: 14px;
    height: 10px;
  }

  .icon-tel {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-li:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }

  header .container {
    padding: 25px 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .logo-header {
    margin-right: 93px;
  }

  .navigation {
    margin-right: 284px;
  }

  .header-icon {
    margin-right: 10px;
  }

  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }

  .contacts-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
  }

  .icon-mail {
    width: 16px;
    height: 12px;
  }

  .icon-tel {
    height: 16px;
  }

  .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }
}
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-color: #afb1b8;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/main/hero_mobile.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/main/hero_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/main/hero_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/main/hero_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/main/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/main/hero@2x.jpg);
  }
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}
.advantages-list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-li {
  width: 450px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-li:not(:last-child) {
  margin-bottom: 30px;
}

.features {
  display: block;
  height: 120px;
  width: 450px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .list-li,
  .features,
  .advantages-heading,
  .advantages-text {
    width: 354px;
  }

  .list-li:nth-child(2n-1) {
    margin-right: 30px;
  }

  .list-li:nth-child(3),
  .list-li:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .list-li,
  .features,
  .advantages-heading,
  .advantages-text {
    width: 270px;
  }

  .list-li:not(:last-child) {
    margin-right: 30px;
  }

  .list-li:nth-child(1),
  .list-li:nth-child(2) {
    margin-bottom: 0;
  }
}
.advantages-heading {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .section-no-top-padding {
    display: none;
  }
}
.section-no-top-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.examples-list-item {
  position: relative;
}
.examples-list-item:not(:last-child) {
  margin-right: 30px;
}

.examples-list-description {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  bottom: 0;
  text-transform: uppercase;
  padding: 27px 0;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-item {
  width: 450px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  padding-bottom: 24px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-photo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .team-item {
    width: 354px;
  }

  .team-item:nth-child(2n) {
    margin-right: 0;
  }

  .team-item:nth-child(3),
  .team-item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    margin-bottom: 0;
  }

  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}
.team-photo {
  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-links .social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  color: #afb1b8;
}

.social-icon-item {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.social-list-link:hover .social-icon-item,
.social-list-link:focus .social-icon-item {
  fill: #ffffff;
}

.social-list-link {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  margin-bottom: 30px;
}

.clients-li:not(:nth-child(2n)) {
  margin-right: 30px;
}

@media screen and (min-width: 480px) {
  .clients-li:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.client-link:hover,
.client-link:focus {
  border: 1px solid #2196f3;
}

.client-item {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.client-link:hover .client-item,
.client-link:focus .client-item {
  fill: #2196f3;
}

.clients-logo {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .clients-li,
  .client-link {
    width: 226px;
  }

  .clients-li:nth-child(4) {
    margin-bottom: 0;
  }

  .clients-li {
    margin-right: 30px;
  }

  .clients-li:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients-li,
  .client-link {
    width: 170px;
  }

  .clients-li {
    margin-bottom: 0;
  }

  .clients-li:nth-child(3) {
    margin-right: 30px;
  }
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.sign-email {
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -1px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 4px;
}

.footer-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.our-links {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer-space {
    width: 232px;
  }

  .footer-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .footer-space {
    margin-right: 70px;
    margin-bottom: 0;
  }

  .our-links {
    margin-bottom: 0;
  }

  .footer-up {
    margin-right: 93px;
  }

  .sign-email {
    width: 346px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .footer-field {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer-form {
    width: 570px;
  }

  .submit {
    width: 200px;
  }
}
.address {
  font-style: normal;
  color: #ffffff;
}

.address-text {
  display: block;
  margin-bottom: 8px;
}

.contacts-footer {
  text-align: center;
}

.footer-space .logo {
  margin-bottom: 20px;
}

.footer-item:first-child {
  margin-bottom: 8px;
}

.contacts-footer-item {
  color: rgba(255, 255, 255, 0.6);
}

.join-us,
.sign-up {
  margin-bottom: 20px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.join-us-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.join-us-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #2196f3;
}

.social-icon-footer {
  fill: currentColor;
}

.footer-form {
  text-align: center;
}

.submit {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.submit-name {
  margin-right: 10px;
}

.send {
  position: absolute;
}

.input-field:focus,
.comment-field:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;
  padding: 40px;
}

.agreement {
  font-size: 12px;
  line-height: 1, 17;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 207px 159px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 221px 536px;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .agreement {
    font-size: 14px;
    line-height: 1, 71;
  }
}
.closing-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  padding-top: 3px;
}
.closing-button:focus {
  fill: #2196f3;
}

.cross {
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}
.cross:hover,
.cross:focus {
  fill: #2196f3;
}

.sign-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sign-form-heading {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.sign-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-field {
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms border cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus + .form-icon {
  fill: #2196f3;
}

.input-field:focus,
.comment-field:focus {
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.comment-field {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  text-align: start;
  resize: none;
}

.send-modal {
  text-align: center;
  letter-spacing: 0.06em;
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-right: 9px;
}

.agreement-link {
  text-decoration: underline;
  color: #2196f3;
}

.form-icon {
  position: absolute;
  -webkit-transform: translate(15px, 30px);
  transform: translate(15px, 30px);
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  margin-right: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box:checked + .check-icon {
  background-color: #2196f3;
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
.box:focus + .check-icon {
  border-color: #2196f3;
}

.modal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blocked-scroll {
  overflow: hidden;
  max-height: 100vh;
}
/*# sourceMappingURL=main.css.map */ /*# sourceMappingURL=main.css.map */
