.advantages-list {
  justify-content: center;
}

.list-li {
  width: 450px;
  justify-content: center;
}

.list-li:not(:last-child) {
  margin-bottom: 30px;
}

.features {
  display: block;
  height: 120px;
  width: 450px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
}

@media screen and (min-width: $tablet) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .list-li,
  .features,
  .advantages-heading,
  .advantages-text {
    width: 354px;
  }
  .list-li:nth-child(2n-1) {
    margin-right: 30px;
  }
  .list-li:nth-child(3),
  .list-li:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $desktop) {
  .list-li,
  .features,
  .advantages-heading,
  .advantages-text {
    width: 270px;
  }
  .list-li:not(:last-child) {
    margin-right: 30px;
  }
  .list-li:nth-child(1),
  .list-li:nth-child(2) {
    margin-bottom: 0;
  }
}

.advantages-heading {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  @include fontChar(14px, 700, 1.44);
  text-transform: uppercase;
  text-align: center;
  color: $secondary-heading-color;
}
