$primary-heading-color: #ffffff;
$secondary-heading-color: #212121;
$main-text-color: #757575;
$accent-text-color: #2196f3;
$button-filter-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$clients-logo-color: #afb1b8;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$main-font: "Roboto", sans-serif;
